p {
  font-weight: bold;
}
h1{
  color: #007466; 
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align:center;
  color: #007466;
}


/*FLEX CONTAINER*/

.flex-container {
  display:flex;
  width: 100%;
}

.flex-container-header {
  display: flex;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right,#1d6a7f,#82b432 0,#1e9650 17%,#0a5a64 45%,#32828c 78%,#28b4dc 100%);
  background-repeat: no-repeat;
}

.flex-cotainer-body{
  display: flex;
  width:100%;
  
}

.flex-item-header {
  
  width:100%;
  margin: 10px;
}

#header {
text-align: center;
width:90%;
font-size:1.5rem;
}


#flag {
  
  margin-top: 40px;
  margin-right:100px;
  
  
  }

.flex-item-body {
  height: auto;
  width:90%;
  margin: 0.3rem;
  
}
#a{
  background-color: #e8ffeb;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding:1rem;
  border: thin solid green;
}

#header-body {
  margin-top:1rem;
  margin-bottom:1rem;
  
  
  
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* font: normal 14px arial,sans-serif; */
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  line-height: 1.3;
  font-weight: normal;
  font-size: 16px;
}

.body-background-color{
  background-color: #e3f5f2;
  height:99%;
  width:auto;
}


ul {
  
  font-size: 16px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  
}

#list{
  position:inline-block;
}
.img {
  height: 50px;

}

.key {
  background-color: #c9cccf;
  color: #6e81aa;
  border-bottom-style: solid;
  box-shadow: 1px 1px 1px #6e91aa;
  border-right-style: solid;
  border-bottom-color: #6e81aa;
  border-bottom-width: 0.5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
}
img {
  vertical-align: middle;
  border: 0;
  height: 50px;
  Width: 50px;
 
}
b, strong {
  font-weight: 700;
}

#mapid {
  position:block;
  width: 100%;
  height: 50%;
  margin:1rem;
}

#info{
  vertical-align: middle;
  border: 0;
  height: 50px;
  Width: 70px;
}


/* MEDIAQUERIES*/

@media (min-width: 1300px) {

  
  img {
    vertical-align: middle;
    border: 0;
    height: 50px;
    Width: 50px;
   
  }

  #info{
    vertical-align: middle;
    border: 0;
    height: 50px;
    Width: 70px;
  }

  p{
    font-size:16px;
  }

  h1{
    color: #007466; 
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
  }

  h2 {
    text-align:center;
    color: #007466;
    font-size: 2rem;
  }
  
  ul {
    
    font-size: 18px;
  }

  ol {
    
    font-size: 18px;
  }
  #header {
    text-align: center;
    width:80%;
    font-size:2rem;
    }
 
  }

@media (max-width: 1000px) {

  
  img {
    vertical-align: middle;
    border: 0;
    height: 25px;
    Width: 25px;
   
  }

  #info{
    vertical-align: middle;
    border: 0;
    height: 25px;
    Width: 35px;
  }

  p{
    font-size:12px;
  }

  h1{
    color: #007466; 
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: center;
  }

  h2 {
    text-align:center;
    color: #007466;
    font-size: 1.3rem;
  }
  
  ul {
    
    font-size: 12px;
  }

  ol {
    
    font-size: 12px;
  }
  #header {
    text-align: center;
    width:80%;
    font-size:1.3rem;
    }
 
  }


  